@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Invoices</h1>
    <p class="lead">I develope apllication for making Invoices. My LinkedIn profile:</p>
    <p><a href="https://www.linkedin.com/in/marek-busse1995/">Marek Busse</a></p>
</div>
